<section>
    <h1 style="text-align: center">Order placed Sucessfully</h1>
    <div class="container">
        <div class="col-md-12 text-center">
            <a href="/orderListView" class="btn btn-primary">View Order</a>
        </div>
    </div>

</section>